

<nz-layout>
    <nz-sider  style="background-color:#00203fff"  [(nzCollapsed)]="isCollapsed"  nzWidth="200px">
      <div style="background-color:#00203fff; margin-bottom:30px;color:lightgray;font-family:palatino;font-size:27px;text-decoration:underline"class="logo">
          Crypto App
      </div>
      <ul nz-menu style="background-color:#00203fff" nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">     
       
            <li (click)="gotoshiftcyphir()" nz-menu-item >
                    <i class="fa fa-circle-o-notch"  aria-hidden="true"></i>
                    <span style="padding-left:5px; font-size:15px ;  color:lightgray">Shift Cypher</span>
                  </li>
                  <li (click)="gotovigenerecyphir()" nz-menu-item>
                        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                        <span style="padding-left:5px; font-size:15px;  color:lightgray ">Vigenere cypher</span>
                      </li>
                      <li (click)="gotoplayfaircyphir()" nz-menu-item>
                            <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                            <span style="padding-left:5px; font-size:15px;  color:lightgray">Play Fair</span>
                          </li>
                  <li (click)="gotosubstitutioncyphir()" nz-menu-item>
                        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                        <span style="padding-left:5px;  font-size:15px;  color:lightgray;">Substitute Cypher</span>
                      </li>
                      <li (click)="gotorailfencecipher()" nz-menu-item>
                        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                        <span style="padding-left:5px;  font-size:15px;  color:lightgray;">Rail Fence Cypher</span>
                      </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header
          >
          <h2 style=" font-style:italic;font-size:35px;color:lightgray" > Vigenere Cypher </h2>
          <nz-divider  
          ></nz-divider>

      </nz-header>
      <nz-content>

        <div class="inner-content" style="background-color:#00203fff" >
            
                <nz-card  style="width:400px;background-color:#00203fff; margin-left:30%">
 
                <div id="center" style=" margin-top: 10%;">
                        <form name="myform">
                          <div class="form-group row">
                            <label for="plainText" class="col-sm-2 col-form-label">Plain Text</label>
                            <div class="col-sm-10">
                              <input #plain type="text" class="form-control" [disabled]="isPlainTrue" id="plainText" name="plainText" style="width:100%;height:35px;border-color:lightgray;color:lightgray;background-color:#00203fff" [(ngModel)]="plainTextInput">
                            </div>
                          </div>
                    
                          <div class="form-group row">
                            <label for="key" class="col-sm-2 col-form-label">Key</label>
                            <div class="col-sm-10">
                              <input  type="text" style="border-color:lightgray;color:lightgray;width:100%;height:35px;background-color:#00203fff" class="form-control" id="key" name="key" [(ngModel)]="keyInput">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="cipherText" class="col-sm-2 col-form-label">Cipher Text</label>
                            <div class="col-sm-10">
                              <input #cipher  type="text" style="width:100%;height:35px;;border-color:lightgray;color:lightgray;background-color:#00203fff" [disabled]="isCipherTrue" class="form-control" id="cipherText" name="cipherText" [(ngModel)]="cipherTextInput">
                            </div>
                          </div>
                    
                    
                    
                          <fieldset class="form-group">
                            <div class="row">
                              <legend class="col-form-label col-sm-2 pt-0">Encrypt/Decrypt</legend>
                              <div class="col-sm-10">
                                <div class="form-check">
                                  <input #radio class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="encrypt"
                                    (change)="changeRadio(radio.value,plain,cipher)">
                                  <label class="form-check-label" for="gridRadios1">
                                    Encrypt
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input #radio1 class="form-check-input " type="radio" name="gridRadios" id="gridRadios2" value="decrypt"
                                    (change)="changeRadio(radio1.value)">
                                  <label class="form-check-label" for="gridRadios2">
                                    Decrypt
                                  </label>
                                </div>
                    
                              </div>
                            </div>
                          </fieldset>
                    
                    
                        </form>
                        <div>
                          <div>
                            <button (click)="submit()" >Check</button>
                          </div>
                        </div>
                      </div>
                    
 </nz-card>         
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>
